.Header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.Links {
    align-items: center;
    display: flex;
    justify-content: space-between;
}