.Jumbotron {
    background: #ebebeb;
    position: relative
}

.Jumbotron img {
    max-width: 900px;
    width: 100%;
}

.Text {
    border-radius: 16px;
    position: absolute;
    right: 2rem;
    padding: 0.5rem 1rem;
    top: 30%;
}

.Text h1 {
    font-size: 3.5rem;
}

.Text p {
    font-size: 2rem;
}

.Text button {
    background: #ffff89;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}